@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

:root {
    --brand: #ff4d29;
    --dark: #092032;
    --body: #516171;
    --border: rgba(0,0,0,0.08);
    --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
    
}

body {
    font-family: "Barlow", sans-serif;
    line-height: 1.7;
    background-color: white;
}

/* navbar */
h1,h2,h3,h4,h5,h6,
.display-1,.display-2,.display-3,.display-4 {
    font-weight: 700;
    color: var(--dark);
}

.navbar {
    box-shadow: var(--shadow);
}


.navbar-brand {
    font-size: 28px;
    font-weight: 700;
}

/* dropdown-content */
.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}
.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #ff4d29;
}

/* breadcrumb */
.breadcrumb-navigation>li {
    display: inline;
}

.breadcrumb-navigation>li>a {
    color: var(--dark);
    font-weight: 700;
    text-decoration: none;
    font-size: 20px;
}

.breadcrumb-navigation>li>a:hover {
    color: #ff4d29;
    text-decoration: underline;
}

.breadcrumb-navigation li+li:before {
    padding: 4px;
    content: " / ";
}

/* blog */
.blog-post {
    position: relative;
    background-color: #fff;
    box-shadow: var(--shadow);
}

.blog-post .content {
    padding: 32px;
}

.blog-post a {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: var(--brand);
    padding: 2px 12px;
    border-radius: 100px;
    text-decoration: none;
    color: #fff;
}

.blog-post h5 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.blog-post small {
    text-transform: uppercase;
    color: var(--brand);
    text-decoration: underline;
}
